@charset "UTF-8";
@keyframes apparition-section-restaurant {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.container-header {
  width: 100%;
}
.container-header .container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 15px 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.container-header .container-logo .logo {
  width: 197px;
  height: 36px;
  object-fit: contain;
}
.container-header .container-localisation {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #EAEAEA;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-header .container-localisation .i-header {
  color: #353535;
  font-size: 16px;
}
.container-header .container-localisation .p-header {
  margin-left: 17px;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

.container-explorer {
  flex-direction: column;
  padding-bottom: 57px;
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-explorer .titre-explorer {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 39px;
  color: black;
}
@media (min-width: 1439px) {
  .container-explorer .titre-explorer {
    font-size: 40px;
  }
}
.container-explorer .p-explorer {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}
.container-explorer .btn-explorer {
  margin-top: 26px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  width: 216px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: 0px;
}
.container-explorer .btn-explorer:hover {
  filter: brightness(110%);
}

.container-fonctionnement {
  padding: 20px;
}
@media (min-width: 1439px) {
  .container-fonctionnement {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.container-fonctionnement .titre-fonctionnement {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1439px) {
  .container-fonctionnement .titre-fonctionnement {
    margin-left: 0px;
  }
}
.container-fonctionnement .icon-fonctionnement-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin: 0 10px 0 10px;
}
@media (min-width: 1439px) {
  .container-fonctionnement .icon-fonctionnement-all {
    flex-direction: row;
    gap: 30px;
  }
}
.container-fonctionnement .icon-fonctionnement-all .icon-fonctionnement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: #F6F6F6;
}
.container-fonctionnement .icon-fonctionnement-all .numero-fonctionnement {
  position: absolute;
  top: 25;
  left: 0;
  transform: translate(-50%, 0px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.container-fonctionnement .icon-fonctionnement-all .font-fonctionnement {
  color: #7E7E7E;
  font-size: 19px;
}
.container-fonctionnement .icon-fonctionnement-all .p-fonctionnement {
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
}
.container-fonctionnement .icon-fonctionnement-all .icon-fonctionnement:hover .font-fonctionnement {
  color: #9356DC;
}

.container-restaurants {
  margin-top: 100px;
  padding: 0 20px 60px 20px;
}
@media (min-width: 1439px) {
  .container-restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.container-restaurants .container-restaurants-titre {
  font-weight: 700;
  font-size: 24px;
}

.icon-restaurant-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1439px) {
  .icon-restaurant-all {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 10px;
  }
}
.icon-restaurant-all .icon-restaurant {
  margin-top: 40px;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  padding-bottom: 12px;
  position: relative;
  text-decoration: none;
  color: black;
}
@media (min-width: 1439px) {
  .icon-restaurant-all .icon-restaurant {
    width: 46%;
  }
}
.icon-restaurant-all .icon-restaurant .icon-restaurant-nouveau {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99e2d0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  padding: 6px 9px 6px 9px;
  color: #008766;
}
.icon-restaurant-all .icon-restaurant .icon-restaurant-img {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}
@media (min-width: 1439px) {
  .icon-restaurant-all .icon-restaurant .icon-restaurant-img {
    height: 231px;
  }
}
.icon-restaurant-all .icon-restaurant .icon-restaurant-titre {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0 0 13px;
}
.icon-restaurant-all .icon-restaurant .icon-restaurant-p {
  font-size: 17px;
  font-weight: 300;
  margin: 5px 0 0 13px;
}
.icon-restaurant-all .icon-restaurant .icon-restaurant-coeur-vide {
  position: absolute;
  font-size: 22px;
  font-style: normal;
  cursor: pointer;
  transition: opacity 0.1s;
}
.icon-restaurant-all .icon-restaurant .icon-restaurant-coeur-plein {
  position: absolute;
  font-size: 22px;
  font-style: normal;
  cursor: pointer;
  /* Définir une couleur de remplissage transparente */
  color: transparent;
  /* Dégradé pour le contour */
  background: linear-gradient(193.33deg, #9356dc 0%, #ff79da 100%), radial-gradient(circle, #9356dc 0%, #ff79da 100%);
  /* Appliquer le dégradé en tant que masque */
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0; /* Commencez avec une opacité de 0 */
  transition: opacity 2s; /* Ajoutez une transition pour l'opacité */
  transform-origin: top;
}
.icon-restaurant-all .icon-restaurant #icon-checkbox-1,
.icon-restaurant-all .icon-restaurant #icon-checkbox-2,
.icon-restaurant-all .icon-restaurant #icon-checkbox-3,
.icon-restaurant-all .icon-restaurant #icon-checkbox-4 {
  visibility: hidden;
  position: absolute;
  right: 25px;
  bottom: 33px;
}
.icon-restaurant-all .icon-restaurant label {
  right: 42px;
  bottom: 50px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}
.icon-restaurant-all .icon-restaurant #icon-checkbox-1:checked ~ label .icon-restaurant-coeur-vide,
.icon-restaurant-all .icon-restaurant #icon-checkbox-2:checked ~ label .icon-restaurant-coeur-vide,
.icon-restaurant-all .icon-restaurant #icon-checkbox-3:checked ~ label .icon-restaurant-coeur-vide,
.icon-restaurant-all .icon-restaurant #icon-checkbox-4:checked ~ label .icon-restaurant-coeur-vide {
  opacity: 0;
}
.icon-restaurant-all .icon-restaurant #icon-checkbox-1:checked ~ label .icon-restaurant-coeur-plein,
.icon-restaurant-all .icon-restaurant #icon-checkbox-2:checked ~ label .icon-restaurant-coeur-plein,
.icon-restaurant-all .icon-restaurant #icon-checkbox-3:checked ~ label .icon-restaurant-coeur-plein,
.icon-restaurant-all .icon-restaurant #icon-checkbox-4:checked ~ label .icon-restaurant-coeur-plein {
  opacity: 1;
}

.container-footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
}
@media (min-width: 1439px) {
  .container-footer {
    position: relative;
    height: 114px;
  }
}
.container-footer .titre-footer {
  color: white;
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 16px;
}
@media (min-width: 1439px) {
  .container-footer .titre-footer {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 2%;
    bottom: 7%;
  }
}

.container-footer-p {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 1439px) {
  .container-footer-p {
    flex-direction: row;
    gap: 20px;
    margin-right: 180px;
    bottom: 20%;
    right: 2%;
    position: absolute;
  }
}
.container-footer-p .footer-a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.container-footer-p .footer-i {
  margin-right: 11px;
}

.fleche-back-restaurant {
  position: absolute;
  left: 5%;
  color: black;
}

.img-page-restaurant {
  width: 100%;
  height: 275px;
  position: relative;
  z-index: 0;
}
@media (min-width: 1439px) {
  .img-page-restaurant {
    height: 506px;
  }
}
@media (min-width: 768px) {
  .img-page-restaurant {
    height: 370px;
  }
}

.container-page-restaurant {
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 40px 40px 0% 0%;
  margin: auto;
  margin-top: -60px;
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
}
@media (min-width: 1439px) {
  .container-page-restaurant {
    width: 60%;
    flex-direction: column;
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media (min-width: 768px) {
  .container-page-restaurant {
    width: 60%;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 90px;
  }
}
.container-page-restaurant .container-titre-page-restaurant {
  padding-left: 17px;
  padding-right: 17px;
}
@media (min-width: 1439px) {
  .container-page-restaurant .container-titre-page-restaurant {
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .container-page-restaurant .container-titre-page-restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
.container-page-restaurant .container-titre-page-restaurant .titre-page-restaurant {
  font-size: 22px;
  font-weight: 400;
  font-family: Shrikhand;
  font-style: italic;
}
@media (min-width: 1439px) {
  .container-page-restaurant .container-titre-page-restaurant .titre-page-restaurant {
    font-size: 28px;
  }
}
.container-page-restaurant .container-titre-page-restaurant .container-coeur-page-restaurant {
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.container-page-restaurant .container-titre-page-restaurant .icon-restaurant-coeur-vide {
  position: absolute;
  font-size: 22px;
  font-style: normal;
  cursor: pointer;
  transition: opacity 0.1s;
}
.container-page-restaurant .container-titre-page-restaurant .icon-restaurant-coeur-plein {
  position: absolute;
  font-size: 22px;
  font-style: normal;
  cursor: pointer;
  /* Définir une couleur de remplissage transparente */
  color: transparent;
  /* Dégradé pour le contour */
  background: linear-gradient(193.33deg, #9356dc 0%, #ff79da 100%), radial-gradient(circle, #9356dc 0%, #ff79da 100%);
  /* Appliquer le dégradé en tant que masque */
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0; /* Commencez avec une opacité de 0 */
  transition: opacity 1s; /* Ajoutez une transition pour l'opacité */
}
.container-page-restaurant .container-titre-page-restaurant #icon-checkbox-1 {
  visibility: hidden;
  position: absolute;
}
.container-page-restaurant .container-titre-page-restaurant label {
  margin-top: -20px;
  cursor: pointer;
}
.container-page-restaurant .container-titre-page-restaurant #icon-checkbox-1:checked ~ label .icon-restaurant-coeur-vide {
  opacity: 0;
}
.container-page-restaurant .container-titre-page-restaurant #icon-checkbox-1:checked ~ label .icon-restaurant-coeur-plein {
  opacity: 1;
}
.container-page-restaurant .container-card-page-restaurant-all {
  margin-top: 40px;
  padding-left: 17px;
  padding-right: 17px;
  animation: apparition-section-restaurant 1s ease 2.5s forwards;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(1) {
  animation-fill-mode: both;
  animation-delay: 250ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(2) {
  animation-fill-mode: both;
  animation-delay: 500ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(3) {
  animation-fill-mode: both;
  animation-delay: 750ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(4) {
  animation-fill-mode: both;
  animation-delay: 1000ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(5) {
  animation-fill-mode: both;
  animation-delay: 1250ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(6) {
  animation-fill-mode: both;
  animation-delay: 1500ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(7) {
  animation-fill-mode: both;
  animation-delay: 1750ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(8) {
  animation-fill-mode: both;
  animation-delay: 2000ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(9) {
  animation-fill-mode: both;
  animation-delay: 2250ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(10) {
  animation-fill-mode: both;
  animation-delay: 2500ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(11) {
  animation-fill-mode: both;
  animation-delay: 2750ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(12) {
  animation-fill-mode: both;
  animation-delay: 3000ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(13) {
  animation-fill-mode: both;
  animation-delay: 3250ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(14) {
  animation-fill-mode: both;
  animation-delay: 3500ms;
}
.container-page-restaurant .container-card-page-restaurant-all:nth-child(15) {
  animation-fill-mode: both;
  animation-delay: 3750ms;
}
.container-page-restaurant .container-card-page-restaurant-all .titre-card-page-restaurant {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: solid 3px #99E2D0;
  width: 40px;
}
.container-page-restaurant .container-card-page-restaurant-all .container-card-page-restaurant {
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15.04px;
  display: flex;
  padding: 10px 0px 10px 0px;
  gap: 5px;
  margin-top: 12px;
}
.container-page-restaurant .container-card-page-restaurant-all .container-card-page-restaurant .sous-titre-card-page-restaurant {
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  white-space: nowrap;
  /* Pour que le texte déborde sur une seule ligne */
  overflow: hidden;
  text-overflow: ellipsis; /* Afficher les points de suspension (...) lorsque le texte déborde */
  width: 60vw;
}
.container-page-restaurant .container-card-page-restaurant-all .container-card-page-restaurant .sous-texte-card-page-restaurant {
  font-size: 15px;
  font-weight: 300;
  margin-left: 15px;
  white-space: nowrap;
  /* Pour que le texte déborde sur une seule ligne */
  overflow: hidden;
  text-overflow: ellipsis; /* Afficher les points de suspension (...) lorsque le texte déborde */
  width: 60vw;
}
.container-page-restaurant .container-card-page-restaurant-all .container-card-page-restaurant .prix-card-page-restaurant {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 15px;
  font-weight: 700;
}
.container-page-restaurant .container-bouton-page-restaurant {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.container-page-restaurant .container-bouton-page-restaurant .bouton-page-restaurant {
  font-size: 16px;
  color: white;
  font-weight: 500;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: 0px;
}
.container-page-restaurant .container-bouton-page-restaurant .bouton-page-restaurant:hover {
  filter: brightness(110%);
}

.loader {
  inset: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  gap: 4px;
  background-color: white;
  color: #9356DC;
  animation: disappear 200ms 4s;
  transform-origin: top;
  animation-fill-mode: forwards;
}

span {
  margin-top: -400px;
  position: relative;
  top: 1.63em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.5s;
}

.let5 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.8s;
}

.let8 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.9s;
}

.let9 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 2s;
}

.let10 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 2.1s;
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  80% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    top: 6.94em;
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
* {
  margin: 0;
  padding: 0;
  object-fit: cover;
  font-family: roboto;
}

/*# sourceMappingURL=main.css.map */
