$color-Primaire: #9356DC;
$color-Secondaire: #FF79DA;
$color-Tertiaire: #99E2D0;
$color-gray: #353535;

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin Animation-coeur{
  /* Définir une couleur de remplissage transparente */
      color: transparent;
      /* Dégradé pour le contour */
      background: linear-gradient(193.33deg, $color-Primaire 0%, $color-Secondaire 100%),
        /* Dégradé pour le centre */
          radial-gradient(circle, $color-Primaire 0%, $color-Secondaire 100%);
      /* Appliquer le dégradé en tant que masque */
      -webkit-background-clip: text;
      background-clip: text; 
}

@mixin Bouton-Primaire{
  font-size: 16px;
    color: white;
    font-weight: 500;
    height: 50px;
    border-radius: 25px;
      box-shadow: 0px 4px 10px 0px #00000040;
      background: linear-gradient(193.33deg, $color-Primaire -11.44%, $color-Secondaire 123.93%);
      border: 0px;
      cursor: pointer;
      &:hover{
        filter: brightness(110%);
      box-shadow: 0px 8px 20px 0px #00000040;
      }
}


@keyframes apparition-section-restaurant {
  0%{
    scale: 0;
  }
  100%{
    scale: 1;
  }
}

@keyframes apparition-div-valide-page-restaurant{
 
  0% {
    opacity: 0; /* L'élément est complètement transparent */
    right: -50px; /* Déplacer l'élément hors de la vue */
}
100% {
    opacity: 1; /* L'élément devient complètement opaque */
    right: 0; /* Le déplacer à sa position finale */
}
}
@keyframes spin-valide-page-restaurant{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes disparition-div-valide-page-restaurant{
  0% {
    opacity: 1; 
    right: 0; 
}
100% {
    opacity: 0; 
    right: -50px; 
}
}
@keyframes disparition-spin-valide-page-restaurant{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}