$color-Primaire: #9356DC;
$color-Secondaire: #FF79DA;
$color-Tertiaire: #99E2D0;
$color-gray: #353535;

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin Animation-coeur{
  /* Définir une couleur de remplissage transparente */
      color: transparent;
      /* Dégradé pour le contour */
      background: linear-gradient(193.33deg, #9356dc 0%, #ff79da 100%),
        /* Dégradé pour le centre */
          radial-gradient(circle, #9356dc 0%, #ff79da 100%);
      /* Appliquer le dégradé en tant que masque */
      -webkit-background-clip: text;
      background-clip: text;
     
}