@import'Variable-Mixin';
@import"./Layout/header";
@import "./home/explorer";
@import"./home/fonctionnement";
@import"./home/restaurants";
@import"./Layout/footer";
@import"./restaurants/PageRestaurants";

*{
    margin: 0;
    padding: 0;
    object-fit: cover;
    font-family: roboto;
    
}
