.container-explorer {
  flex-direction: column;
  padding: 0 5% 57px 5% ;
  @include center;

  .titre-explorer {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 39px;
    color: $color-black;
    @media (min-width: 1439px){
      font-size: 40px;
      
    }
  }
  .p-explorer {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }
  .btn-explorer {
    margin-top: 26px;
    width: 216px;
    @include Bouton-Primaire;
  }
  
}
