.container-footer{
    background-color: #353535;
    padding: 22px 25px 22px 25px;

    .img-footer{
        width: 120px;
        height: 25px;
        margin-bottom: 16px;
        object-fit: contain;
    }
}
.container-footer-p{
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: roboto;
    .footer-i{
        margin-right:11px ;
    }
}