.fleche-back-restaurant {
  position: absolute;
  left: 5%;
  color: $color-black;
}
.img-page-restaurant {
  width: 100%;
  height: 275px;
  position: relative;
  z-index: 0;
  @media (min-width: 1439px) {
    height: 506px;
  }
  @media (min-width: 768px) {
    height: 370px;
  }
}
.container-page-restaurant {
  overflow-x: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 40px 40px 0% 0%;
  margin: auto;
  margin-top: -60px;
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  height: auto;

  @media (min-width: 1439px) {
    width: 60%;
    flex-direction: column;
    padding-left: 180px;
    padding-right: 180px;
  }
  @media (min-width: 768px) {
    width: 60%;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 90px;
  }

  .container-titre-page-restaurant {
    padding-left: 17px;
    padding-right: 17px;
    @media (min-width: 1439px) {
      gap: 24px;
      @include center;
    }
    @media (min-width: 768px) {
      @include center;
      gap: 24px;
    }
    .titre-page-restaurant {
      font-size: 22px;
      font-weight: 400;
      font-family: Shrikhand;
      font-style: italic;
      @media (min-width: 1439px) {
        font-size: 28px;
      }
    }
    .container-coeur-page-restaurant {
      padding-left: 17px;
      padding-right: 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
    }
    .icon-restaurant-coeur-vide {
      position: absolute;
      font-size: 22px;
      font-style: normal;
      cursor: pointer;
      transition: opacity 0.1s;
    }
    .icon-restaurant-coeur-plein {
      position: absolute;
      font-size: 22px;
      font-style: normal;
      cursor: pointer;
      @include Animation-coeur;
      opacity: 0; /* Commencez avec une opacité de 0 */
      transition: opacity 1s; /* Ajoutez une transition pour l'opacité */
    }

    #icon-checkbox-1 {
      visibility: hidden;
      position: absolute;
    }
    label {
      margin-top: -20px;
      cursor: pointer;
    }
    //  Lorsqu'on clique sur le coeur vide il passe en opacity 0
    #icon-checkbox-1:checked ~ label .icon-restaurant-coeur-vide {
      opacity: 0;
    }
    // Lorsqu'on clique sur le coeur plein il passe en opacity 1
    #icon-checkbox-1:checked ~ label .icon-restaurant-coeur-plein {
      opacity: 1;
    }
  }

  .container-card-page-restaurant-all {
    margin-top: 40px;
    padding-left: 17px;
    padding-right: 17px;
    animation: apparition-section-restaurant 1s ease 2.5s forwards;
    // boucle for pour faire apparaitre les sections de menus
    @for $i from 1 through 15 {
      &:nth-child(#{$i}) {
        animation-fill-mode: both;
        animation-delay: 250ms * $i;
      }
    }
    .titre-card-page-restaurant {
      font-size: 16px;
      font-weight: 300;
      padding-bottom: 5px;
      border-bottom: solid 3px $color-Tertiaire;
      width: 40px;
    }
    .container-card-page-restaurant {
      position: relative;
      width: 100%;
      background-color: $color-white;
      box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001a;
      border-radius: 15px;
      display: flex;
      padding: 10px 0px 10px 0px;
      gap: 5px;
      margin-top: 12px;
      #icon-valide {
        position: absolute;
        width: 100%;
        height: 40px;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
      }

      .sous-titre-card-page-restaurant {
        font-size: 16px;
        font-weight: 500;
        margin-left: 15px;
        white-space: nowrap;
        /* Pour que le texte déborde sur une seule ligne */
        overflow: hidden;
        text-overflow: ellipsis; /* Afficher les points de suspension (...) lorsque le texte déborde */
        width: 60vw;
      }
      .sous-texte-card-page-restaurant {
        font-size: 15px;
        font-weight: 300;
        margin-left: 15px;
        white-space: nowrap;
        /* Pour que le texte déborde sur une seule ligne */
        overflow: hidden;
        text-overflow: ellipsis; /* Afficher les points de suspension (...) lorsque le texte déborde */
        width: 60vw;
        z-index: 1;
      }
      .prix-card-page-restaurant {
        display: flex;
        justify-content: end;
        align-items: end;
        font-size: 15px;
        font-weight: 700;
        width: 100%;
        margin-right: 13.5px;
        @media (min-width: 1439px) {
          margin-left: -40%;
        }
        @media (min-width: 768px) {
          margin-left: -40%;
        }
      }
      .container-valide-page-restaurant {
        position: absolute;
        display: flex;
        justify-content: center;
        background-color: $color-Tertiaire;
        padding: 20px;
        border-radius: 0 15px 15px 0;
        height: auto;
        right: 0;
        bottom: -1px;

        .icon-valide-page-restaurant {
          font-size: 20px;
          color: $color-white;
        }
      }
      // animation div valide quand on clique elle apparaît
      #icon-valide:checked ~ .container-valide-page-restaurant {
        animation: apparition-div-valide-page-restaurant 0.5s ease forwards;
      }
      // animation icon valide pour qu'elle spin quand on clique
      #icon-valide:checked
        ~ .container-valide-page-restaurant
        .icon-valide-page-restaurant {
        animation: spin-valide-page-restaurant 1s ease forwards;
      }
      // animation div valide quand on clique elle disparaît
      #icon-valide:not(:checked) ~ .container-valide-page-restaurant {
        animation: disparition-div-valide-page-restaurant 0.5s ease forwards;
      }
      // animation icon valide pour qu'elle spin dans l'autre sens  quand on clique
      #icon-valide:not(:checked)
        ~ .container-valide-page-restaurant
        .icon-valide-page-restaurant {
        animation: disparition-spin-valide-page-restaurant 1s ease forwards;
      }
    }
  }

  .container-bouton-page-restaurant {
    @include center;
    margin-top: 40px;
    .bouton-page-restaurant {
      width: 186px;
      @include Bouton-Primaire;
    }
  }
}
